<!DOCTYPE html>
<html>
<head>
    <title>Matt Takao</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matt Takao webpage">
    <meta name="author" content="Matt Takao">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kube.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/m-favicon.png') }}" />
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">MATT TAKAO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
              {% if current_user.is_anonymous %}
              <li><a class="user-button" href="{{ url_for('login') }}">Login</a></li>
              {% else %}
              <li><a class="user-button" href="{{ url_for('account_settings') }}">Settings</a></li>
              <li><a class="user-button" href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
              <li>|</li>
              <li><a href="/">Home</a></li>
              <li>|</li>
              <li><a href="bonsai">The Bonsai Blog</a></li>
              <li>|</li>
              <li><a href="stocks">Stocks</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

  <br>
  <br>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
  {% endif %}
  {% endwith %}


	<!-- Javascript -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kube.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>
