<!DOCTYPE html>
<html>
<head>
    <title>Matt Takao</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matt Takao webpage">
    <meta name="author" content="Matt Takao">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kube.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/m-favicon.png') }}" />
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">MATT TAKAO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
              {% if current_user.is_anonymous %}
              <li><a class="login-logout-button" href="{{ url_for('login') }}">Login</a></li>
              {% else %}
              <li><a class="login-logout-button" href="{{ url_for('logout') }}">Logout {{user}}</a></li>
              {% endif %}
              <li>|</li>
                <li><a href="/">Home</a></li>
                <li>|</li>
                <li><a href="bonsai">The Bonsai Blog</a></li>
                <li>|</li>
                <li><a href="stocks">Stocks</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>


  <div class="container">
	   <h1>The Bonsai Tree</h1>
  </div>


  <div class="section second" id="projects">
    <div class="container blog">
        <h3>2018-03-15</h3>
        <img src="static/img/bonsai/20180315_194118.jpg" alt="seeds_holes">
        <img src="static/img/bonsai/20180315_194213.jpg" alt="seeds_in_holes">
        <p>Seeds in the holes.</p>
        <img src="static/img/bonsai/20180315_194303.jpg" alt="covered_holes">
        <p>Covered the holes!</p>
        <br></br>
        <h3>2018-03-14</h3>
        <img src="static/img/bonsai/20180315_172259.jpg" alt="glass1">
        <img src="static/img/bonsai/20180315_172305.jpg" alt="glass2">
        <p>I dunked the seeds in water, and I'll plant them in a day or two.</p>
        <br></br>
        <h3>2018-01-04</h3>
        <img src="static/img/bonsai/20180315_193649.jpg" alt="english_instructions">
        <img src="static/img/bonsai/20180315_193655.jpg" alt="japanese_instructions">
        <p>I put the seeds in the fridge. I'll plant them sometime after my birthday in March.</p>
    </div>
  </div>


	<!-- Quote -->
	<div class="quote">
		<div class="container text-centered">
			<h1>まず同じ銀河に生まれた事。同じ種に生まれ、生きる時間が重なる事。人と人が出会う事の奇跡的な確率。笑う事も悲しむ事も恋も皆1％の可能性の集まりだから僕は目が眩む。世界はこんなにも色とりどりの奇跡にあふれている。 <br><br> "First, we are born in the same galaxy. Born of the same species. Our lifetimes overlap. <br><br>The meetings between humans are so unlikely as to be miraculous. To laugh, to cry, and to fall in love. <br><br>Everyone is made up of a collection of 1% chances, and I am dazzled by the fact that there are so many miracles in this world."</h1>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>website by Matt Takao using Flask and AWS<br>image by <a href="https://www.walldevil.com/anime-bird-city-night-japan-manga-sky-town-warm-colors-wallpaper-24864/">Amanda Mirr</a></p>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="mailto:takaomatt@gmail.com"><i class="fa fa-send"></i></a></li>
						<li><a href="http://github.com/emptyopen"><i class="fa fa-github"></i></a></li>
            <li><a href="http://facebook.com/karappo"><i class="fa fa-facebook"></i></a></li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kube.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    <script>
		function newTyped(){}$(function(){$("#typed").typed({
		// Change to edit type effect
		strings: ["Python", "IPA beers", "Blockchain", "Dogs", "Ramen", "Autonomous Cars", "Scuba diving", "Drones", "Space", "Pluto especially", "Virtual Reality"],

		typeSpeed:110,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script>
</body>
</html>
