<doctype html>
<head>
    <title>Vehicle Sales</title>
</head>

<h2>Vehicle Sales Database</h2>

<p><p>
<a href="{{ url_for('.create_sale_form') }}"> New Vehicle Sale(s) </a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>
