<!DOCTYPE html>
<html>
<head>
    <title>Matt Takao</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matt Takao webpage">
    <meta name="author" content="Matt Takao">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kube.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/m-favicon.png') }}" />
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			content: 'MATT TAKAO';
		}
	</style>
</head>
<body>

	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">MATT TAKAO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
              {% if current_user.is_anonymous %}
              <li><a class="user-button" href="{{ url_for('login') }}">Login</a></li>
              {% else %}
              <li><a class="user-button" href="{{ url_for('account_settings') }}">Settings</a></li>
              <li><a class="user-button" href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
              <li>|</li>
				      <li class="active"><a href="#about">About</a></li>
              <li><a href="#projects">Projects</a></li>
				      <li><a href="#experience">Experience</a></li>
				      <li><a href="#skills">Skills</a></li>
              <li>|</li>
              <li><a href="bonsai">The Bonsai Blog</a></li>
              <li>|</li>
              <li><a href="stocks">Stocks</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>


	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<p>Hi, I’m Matt.</p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1>I love<br><span id="typed"></span></h1>
				</div>
				<p>
					I'm a Japanese / USA dual national, and attended Northeastern University in Boston.<br>
          I currently work in LA at Boeing on C-17 Avionics.
				</p>
        <br>
        <p> Download my resume! (.pdf) </p>
        <a href="/return-files/" target="blank"><button class='btn btn-default'>Download!</button></a>
			</div>
		</div>
	</div>

  <!-- Projects -->
  <div class="work section second" id="projects">
    <div class="container">
      <h1>Projects</h1>
      <ul class="work-list">
        <li>2018-current</li>
        <li><a href="https://github.com/emptyopen/takaomattcom">This Website</a></li>
        <li>Using Flask and AWS.</li>
      </ul>
      <ul class="work-list">
        <li>2016-current</li>
        <li><a href="https://github.com/emptyopen/capit-vita">Capit Vita</a></li>
        <li>A python program to automatically screen and trade stocks, options, and crypto-currency.</li>
      </ul>
      <ul class="work-list">
        <li>2017-current</li>
        <li><a href="https://github.com/emptyopen/twitch-escapes">Twitch Escapes</a></li>
        <li>A python game streamed on Twitch where viewers try to escape.</li>
      </ul>
      <ul class="work-list">
        <li>2018</li>
        <li><a href="https://github.com/emptyopen/puzzle-solvers">Puzzle Solvers</a></li>
        <li>Logic puzzle solvers:</li>
        <ul class="work-list">
          <li>Takuzu</li>
          <li>Loop</li>
          <li>Flood</li>
        </ul>
      </ul>
    </div>
  </div>

	<!-- Work Experience -->
	<div class="work section second" id="experience">
		<div class="container">
			<h1>Work<br>Experience</h1>
			<ul class="work-list">
				<li>2017-current</li>
				<li><a href="http://www.boeing.com/">Boeing</a></li>
				<li>Systems Engineer</li>
			</ul>
			<ul class="work-list">
				<li>2014-2017</li>
				<li><a href="http://www.pw.utc.com/">Pratt & Whitney</a></li>
				<li>Flight Test - Engine Controls Engineer</li>
			</ul>
			<ul class="work-list">
				<li>2012-2012</li>
				<li><a href="http://avigilon.com/">VideoIQ</a></li>
				<li>Hardware Engineer Co-op</li>
			</ul>
      <ul class="work-list">
				<li>2011-2011</li>
				<li><a href="http://www.irobot.com/">iRobot</a></li>
				<li>Hardware Engineer Co-op</li>
			</ul>
      <ul class="work-list">
				<li>2010-2010</li>
				<li><a href="https://www.synaptics.com/">Conexant Systems</a></li>
				<li>Electrical Engineer</li>
			</ul>
		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Skills</h1>
			<ul class="skill-list list-flat">
				<li>Python</li>
				<li>pandas / numpy / flask / pygame</li>
			</ul>
      <ul class="skill-list list-flat">
				<li>AWS</li>
				<li>EC2 / Route 53</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>OS</li>
				<li>Windows / Mac / Linux</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Other</li>
				<li>Japanese (fluent)</li>
			</ul>
		</div>
	</div>


	<!-- Quote -->
	<div class="quote">
		<div class="container text-centered">
			<h1>まず同じ銀河に生まれた事。同じ種に生まれ、生きる時間が重なる事。人と人が出会う事の奇跡的な確率。笑う事も悲しむ事も恋も皆1％の可能性の集まりだから僕は目が眩む。世界はこんなにも色とりどりの奇跡にあふれている。 <br><br> "First, we are born in the same galaxy. Born of the same species. Our lifetimes overlap. <br><br>The meetings between humans are so unlikely as to be miraculous. To laugh, to cry, and to fall in love. <br><br>Everyone is made up of a collection of 1% chances, and I am dazzled by the fact that there are so many miracles in this world."</h1>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>website by Matt Takao using Flask and AWS<br>image by <a href="https://www.walldevil.com/anime-bird-city-night-japan-manga-sky-town-warm-colors-wallpaper-24864/">Amanda Mirr</a></p>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="mailto:takaomatt@gmail.com"><i class="fa fa-send"></i></a></li>
						<li><a href="http://github.com/emptyopen"><i class="fa fa-github"></i></a></li>
            <li><a href="http://facebook.com/karappo"><i class="fa fa-facebook"></i></a></li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kube.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    <script>
		function newTyped(){}$(function(){$("#typed").typed({
		// Change to edit type effect
		strings: ["Python", "IPA beers", "Blockchain", "Dogs", "Ramen", "Autonomous Cars", "Scuba diving", "Drones", "Space", "Virtual Reality", "Japan", "America", "Street Tacos"],

		typeSpeed:110,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script>
</body>
</html>
