<!DOCTYPE html>
<html>
<head>
    <title>Matt Takao</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matt Takao webpage">
    <meta name="author" content="Matt Takao">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kube.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/m-favicon.png') }}" />
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">MATT TAKAO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
                <li><a href="/">Home</a></li>
                <li>|</li>
                <li><a href="bonsai">The Bonsai Blog</a></li>
                <li>|</li>
                <li><a href="stocks">Stocks</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

  <br>
  <br>

  <html>
    <head>
      <title>Flask Intro - login page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
      <div class="container">
        <h1>Register</h1>
          <form action="" method="post">
              {{ form.hidden_tag() }}
              <p>
                  {{ form.username.label }}<br>
                  {{ form.username(size=32) }}<br>
                  {% for error in form.username.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.email.label }}<br>
                  {{ form.email(size=64) }}<br>
                  {% for error in form.email.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}<br>
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.password2.label }}<br>
                  {{ form.password2(size=32) }}<br>
                  {% for error in form.password2.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>{{ form.submit() }}</p>
          </form>
      </div>
    </body>
  </html>


	<!-- Javascript -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kube.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>
